{% extends "layouts/base.html" %}
{% load pipeline %}

{% block stylesheets %}
{% stylesheet 'index' %}
{% endblock %}

{% block javascripts %}
{% javascript 'index' %}
{% endblock %}

{% block body %}
<canvas id="background"></canvas>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="title">MiddCrushes</h1>
      <h2 class="subtitle">We found love in a hopeless place.</h2>
      <div class="description">
        <h4>We know you've been crushing hard.</h4>
        <h4>Find out if someone is crushing on you.</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {% include "registration/registration_form.html" %}
    </div>
  </div>
</div>
{% endblock %}
