{% load staticfiles %}
{% load pipeline %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiddCrushes</title>
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    {% stylesheet 'libs' %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% include "partials/header.html" %}
    {% block body %}{% endblock %}
    {% include "partials/footer.html" %}
    {% javascript 'libs' %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
